# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Project Specific
dataset/
outputs/
outputs/*.h5
outputs/*.png
outputs/*.pdf

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/